body {
  font-family: Arial;
  text-align: center;
  background: #0f172a;
  color: white;
}

/* 首頁 */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* 卡片 */
.container {
  background: white;
  color: black;
  padding: 30px;
  border-radius: 10px;
}

/* 連結 */
a {
  display: block;
  margin: 10px;
  color: blue;
  text-decoration: none;
}

/* 排序圖 */
#bars {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 300px;
  margin: 30px;
}

/* 每一條 */
.bar {
  width: 15px;
  margin: 2px;
  background: steelblue;
}

/* 動畫顏色 */
.active {
  background: red;
}

.swap {
  background: orange;
}

.sorted {
  background: green;
}

/* 說明框 */
.info-box {
  background: #1e293b;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border-radius: 10px;
  text-align: left;
}

.info-box h2 {
  color: #38bdf8;
  margin-bottom: 10px;
}

.info-box p {
  color: #cbd5e1;
  line-height: 1.6;
}

.info-box ul {
  margin-top: 10px;
}
